@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --grid-row-width: clamp(100px, 90%, 600px);
  --wordle-correct-rgba: 0, 128, 0, 1;
  --wordle-hinted-rgba: 194, 185, 15, 0.803;
  --wordle-incorrect-rgba: 128, 128, 128, 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow: hidden;
}

.rootHeader {
  display: flex;
  justify-content: space-evenly;
}

.simple-keyboard.wordle-keyboard {
  background-color: transparent;
}

.simple-keyboard.hg-layout-default .hg-button {
  background-color: hsl(0, 0%, 76%);
  color: black;
}

.simple-keyboard.hg-layout-default .hg-button.correct {
  background: rgba(var(--wordle-correct-rgba));
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.incorrect {
  background: rgba(var(--wordle-incorrect-rgba));
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hinted {
  background: rgba(var(--wordle-hinted-rgba));
  color: white;
}