@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --grid-row-width: clamp(100px, 90%, 600px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.gridSquare {
  display: inline-block;
  aspect-ratio: 1/1;
  flex-grow: 1;
  background: white;
  color: black;
  border: solid;
}

.gridRow {
  display: flex;
  flex-wrap: nowrap;
  width: var(--grid-row-width);
}

.grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-content: stretch;
  align-items: center;
  justify-content: flex-start;
  border-color: red;
  border: solid;
  border-width: 10px;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: red;
  height: 100vh;
}

.rootHeader {
  display: flex;
  justify-content: space-evenly;
}