.letter-correct {
    background: rgba(var(--wordle-correct-rgba));
}

.letter-hinted {
    background: rgba(var(--wordle-hinted-rgba));
}

.letter-incorrect {
    background: rgba(var(--wordle-incorrect-rgba));
}

.letter-unguessed {
    background: transparent;
}